body {
  background-color: #f2f4d1;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: #5e6073;
  font-family: 'Pacifico', cursive;
  margin: 0px;
}
h2 {
  color: #5e6073;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 5px;
}

h3 {
  color: #5e6073;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
}

div {
  margin: 0 5% 10px 5%;
  width: 85%;
  padding: 10px;
}

hr {
  border-width: 5px 0 0 0;
  border-top-style: dotted;
  border-color: #b2d3be;
  width: 10%;
}

/**************************classes*************************/

.butn {
  font-family: Arial;
  color: #f2f4d1;
  font-size: 20px;
  background: #b2d3be;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0px;
  border-style:none;
}

.butn:hover {
  background: #89a3b2;
  text-decoration: none;
}

.icon{
  width:75px;
  display: inline;
  float: left;
  margin: 10px 10px 10px 50px;
}
.icon-right{
  float: right;
  margin: 10px 50px 10px 10px
}
.skills{
  display: inline-block;
  position:relative;
  width:60%;
}
.skill-row{
  text-align:left;
  width: 300px;
  display: inline-block;
  position: relative;
  margin:25px 10px 25px 10px;
  padding: 0px;
}
.top-container {
  background-color: #b2d3be;
  margin: 0px;
  width: 100%;
  color: #89a3b2;
  text-align:right;
  padding:0px;
}
.middle-container{
  text-align:center;
  padding: 0px;
  margin:0px;
  width:100%;
  padding:0px;
}
.bottom-container{
  color: #89a3b2;
  background-color: #5e6073;
  height: 100px;
  margin: 0px;
  padding:0px;
  width:100%;
  text-align:center;

}
.contact{
  display: inline-block;
  width: 275px;
}
.line{
  border-top-style: solid;
  width: 150px;
}

/***************************ids*****************************/

#profileBox{
  width: 770px;
  margin: 0px auto 0px auto;
}

#profileSection{
  width: 100%;
  background-color: white;
  margin: 0px;
  padding:0px;
}
#profilePic{
  margin: 10px 0 auto 10px;
  height:200px;
  width:200px;
  border:10px;
  border-style: solid;
  border-color: #b2d3be;
  border-radius:100%;
}
#description{
  padding: 0px;
  text-align:left;
  display: inline-block;
  margin:20px;
  width:500px;
  float:right;
}

#contact-info{
  margin:15px auto 15px auto;
  line-height:2;
  text-align:left;
}

#navbar{
  margin:0px;
  padding:0px;
}
